body{
    background-color: lavenderblush;
}
hr{
    border-style:none;
    border-top-style: dotted;
    height: 30px;
    border-color: palevioletred;
    border-width: 10px;
    width: 10%;
}
h1{
    color: palevioletred;
}
h3{
    color: palevioletred;
}
.pic{
    background-color: black;
}
.pic:hover{
    background-color: aqua;
}